
@{
    ViewBag.Title = "APCorrections";
    Layout = null;
}
<div layout="column" layout-padding>
    <!--Assign To Section-->
    <h3 class="md-title">
        AR Corrections
    </h3>
    <div layout="row" layout-padding layout-align="start center">
        <div flex="30" flex-xs="50">
            <label>Credit Memo Date:</label>
            <md-datepicker ng-model="selectedReleaseDate"
                           ng-disabled="disableAction('releasedate')">
            </md-datepicker>
        </div>
        <md-input-container flex="30" flex-xs="50">
            <label>Credit Memo Number</label>
            <input ng-model="user.firstName">
        </md-input-container>
        <md-input-container flex="30" flex-xs="50">
            <label>Credit Memo Amount</label>
            <input ng-model="user.firstName">
        </md-input-container>
    </div>
    <div layout="row">
        <md-button class="md-raised md-primary md-button md-ink-ripple" ng-click="refresh()"
                   ng-disabled="disableActions()">
            Apply Invoice
        </md-button>
    </div>
</div>

